section.first{
    background-color:antiquewhite;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width:80%;
    border:20px solid rgb(171, 135, 123);
    font-family:  Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
}

.post{
    margin-bottom: 20px; 
}
.week{
    text-align: center;
    color: rgb(179, 115, 93);
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
}
.content{
    border-left: 5px solid #2370a5;
    padding-left: 5px;
    line-height: 25px;
    
}
h2{
    text-align: center;
    font-size: 1.0rem;
    color:darksalmon;
}
hr{
    border: 0;
    height: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
p{
    color: #0e1d43;
    font-weight: 150;
}
a.back{
    float: right;
}
.line{
    display: inline-block;
    
}
ul.line{
    float: left;
    
}
ul.line li{
    display: inline-block;
    
    margin-right: 80px;
    margin-top: 10px;
}
ul.line li a{
    font-size: 18px;
    color: rgb(0, 89, 255);
    text-decoration: underline;
    
}


/*TRYING./*/

body{
    padding: 30px;
    margin: 0;  
}

.post{
   font-family: "Poppins",sans-serif; 
}
.post p{
    font-size: 16px;
}
.post button{
    padding: 10px;
    background-color: #ff4e02;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.post:not(:last-child){
    margin-bottom: 100px;

}
.hide{
    display: none;
}
