*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}
.img-slider{

    position:relative;
    width: 800px;
    height:500px;
    margin-top:250px;
    background-color: rgb(54, 44, 32);
}

.img-slider .slide{
    z-index: 1;
    position:absolute;
    width:100%;
    clip-path: circle(0% at 3 50%);
}
.img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
}

.img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
}
.img-slider .slide .sliderInfo{
    position:absolute;
    top:20;
    padding: 15px 30px;
}
.img-slider .slide .sliderInfo h2{
    color: #333;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
}

.img-slider .slide .sliderInfo p{
    color: black;
    background-color: 0,0,0,0.5;
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
}
.img-slider .slider-navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.img-slider .slider-navigation .sliderBtn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 20px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;

}

@media (max-width: 1024px){
    .img-slider{
        width: 600px;
        height: 375px;
    }
    .img-slider .slide .sliderInfo{
        padding: 10px 25px;
    }
    .img-slider .slide .sliderInfo h2{
        font-size: 30px;
    }

    .img-slider .slide .sliderInfo p{
        width: 70%;
        font-size: 15px;
    }

    .img-slider .slider-navigation{
        bottom: 25px;
    }
    .img-slider .slider-navigation .sliderBtn{
        width: 10px;
        height: 10px;
        margin: 8px;
    }
}

@media (max-width: 620px){
    .img-slider{
        width: 400px;
        height: 250px;
    }
    .img-slider .slide .sliderInfo{
        padding: 10px 25px;
    }
    .img-slider .slide .sliderInfo h2{
        font-size: 20px;
    }

    .img-slider .slide .sliderInfo p{
        width: 80%;
        font-size: 12px;
    }

    .img-slider .slider-navigation{
        bottom: 15px;
    }
    .img-slider .slider-navigation .sliderBtn{
        width: 8px;
        height: 8px;
        margin: 6px;
    }
}

@media (max-width: 420px){
    .img-slider{
        width: 320px;
        height: 200px;
    }
    .img-slider .slide .sliderInfo{
        padding: 5px 10px;
    }
    .img-slider .slide .sliderInfo h2{
        font-size: 15px;
    }

    .img-slider .slide .sliderInfo p{
        width: 90%;
        font-size: 10px;
    }

    .img-slider .slider-navigation{
        bottom: 10px;
    }
}